# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\frontend\apps\mortal_combat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
